#contentProfile{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#imageTitle{
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 200px;
    margin-top: 60px !important;
}

#postsText{
    font-size: 17px;
}

#postsText b{
    margin-right: 10px;
}

#descriptionText{
    display: block;
    font-size: 20px;
    margin-top: 30px;
}

#posts{
    display: flex; 
    flex-flow: row wrap;
    margin-top: 50px;
    justify-content: center;
}

.postProfile{
    width: 400px;
    margin: 20px;
    height: 260px;
    box-shadow: 0px 0px 4px black;
    padding: 20px;
    padding-bottom: 70px;
}

.postProfile img{
    width: 100%;
    height: 100%;
}

.likesCount{
    display: flex;
    flex-flow: row wrap;
}

.likesCount p{
    font-size: 20px;
}

.favoriteProfile{
    color: red;
}

.contentAvatarProfile{
    transform: scale(1.5, 1.5);
}

#usernameProfile{
    font-size: 50px; 
}

.favorite{
    display: none;
}

.favoriteBorder,
.favorite {
    color: red;
    cursor: pointer;
    transition: 300ms all;
}

.favoriteBorder:hover,
.favorite:hover{
    transform: scale(1.2, 1.2);
}

@media (max-width: 748px){
    #imageTitle{
        width: 60%;
        margin: 0px;
    }
}

@media (max-width: 438px){
    .postProfile{
        width: 100%;
        box-shadow: none;
    }
    #contentAvatar{
        margin-right: 20px;
    }

    #usernameProfile{
        margin-top: 20px; 
    }
}